@import './px2rem.scss';
@import './reset.css';
body{
    background: #e8e7e7;
    position: relative;
}
#header{
    height: px2rem(244);
    background: #0085ff;
    color: #fff;
    padding: px2rem(20) px2rem(30);
    font-size: px2rem(28);
    .top{
        width: 100%;
        height: px2rem(70);
        display: flex;
        justify-content: space-between;
        .address{
            width: px2rem(416);
            height: px2rem(42);
            font-size: px2rem(38);
            line-height: px2rem(70);
        }
        .weather{
            float: right;
            width: px2rem(135);
            height: px2rem(60);
            display: flex;
            justify-content: space-between;
            font-size: px2rem(24);
            text-align: right;
            img{
               width: px2rem(55);
                height: px2rem(55); 
            }
            .left{
                h2{
                    font-size: px2rem(28);
                    line-height: px2rem(30);
                    font-weight: 200;
                }
            }
        }      
    }
    .search{
        display: block;
        width: 100%;
        height: px2rem(72);
        margin: px2rem(15) 0;
        background: #fff;
        color: #000;
        text-align: center;
        line-height: px2rem(72);
        text-decoration: none;
        border-radius: px2rem(36);
    }
    .header-list{
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        font-size: px2rem(24);
        
        a{
            color: #fff;
            text-decoration: none;
        }
    }

}
#nav{
    background: #fff;
    height: px2rem(354);
    margin-bottom: px2rem(20);
    .swiper-container {
        height: px2rem(354);
        .swiper-slide{
            
            a{
                float: left;
                 display: block;                
                 text-decoration: none;
                 margin-top: px2rem(20);
                 color: #000;
                 width: px2rem(187); 
                 height: px2rem(127);
                 text-align: center;
                 font-size: px2rem(26); 
            }
        }
       
    }
}
#main{
    
    background: #fff;
    .index-title{
        font-size: px2rem(30);
        line-height: px2rem(70);
        padding-left: px2rem(40);
    }
    .shop-list{
        background: #fff;
        .index-container{
            border-top: px2rem(1) solid #ccc;
            height: px2rem(180);
            padding: px2rem(30) px2rem(20);
            display: flex;
            justify-content: space-between;
            .shop-main{
                width: px2rem(570);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .top{
                    display: flex;
                    justify-content: space-between;
                    .shopname{
                        font-size: px2rem(30);
                    }
                    .shop-title{
                        display: flex;
                        justify-content: space-between;
                        font-size: px2rem(20);
                        color: #ccc;
                        div{
                            padding-left: px2rem(5);
                        }
                    }
                }
                .middle{
                    height: px2rem(26);
                    .shop-message{
                        width: px2rem(280);
                        float: left;
                        font-size: px2rem(20);
                        color: #666;
                        .stars{
                            height: px2rem(26);
                            width: px2rem(81);
                            float: left;
                            margin-right: px2rem(10);
                            margin-top: px2rem(-2);
                            position: relative;
                            .stars-on{
                                position: absolute;
                                top: 0;
                                color: #ffaa0c;
                                overflow: hidden;
                                white-space: nowrap;
                                font-size: 0;
                            }
                            .stars-bg{
                                font-size: 0;
                            }
                        }
                        .grade{
                            color: orange;
                        }
                        
                    }
                    
                    .distribution{    
                        float: right;
                        font-size: px2rem(20);
                        span:nth-child(1){
                            background: #fff;
                            color: #2395ff;
                            border: px2rem(1) solid lightblue;
                            border-radius: px2rem(3);
                            padding: 0 px2rem(3);
                        }
                        span:nth-child(2){
                            background: #2395ff;
                            color: #fff;
                            border-radius: px2rem(3);
                            padding: 0 px2rem(3);
                        }
                    }
                }
                .bottom{
                    display: flex;
                    justify-content: space-between;
                    font-size: px2rem(22);
                    color: #666;                  
                    .money{
                        span:nth-child(2):before{
                            content: '/ ';
                        }
                        span:nth-child(3):before{
                            content: '/ ';
                        }
                    }
                    .timer{
                        span:nth-child(2){
                            color: #2395ff;
                        }
                        span:nth-child(2):before{
                            content: '/ ';
                        }
                    }
                    
                }
            }
        }
    }
}
#footer{
    overflow: hidden;
    width: 100%;
    height: px2rem(100);
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: px2rem(2) solid #ccc;
    a{
        height: px2rem(69);
        width: px2rem(187);
        text-align: center;
        text-decoration: none;
        font-size: px2rem(20);
        color: #666;
        display: flex;
        flex-direction: column;
        span:nth-child(1){
            i{
               font-size: px2rem(40);              
            }
            padding-bottom: px2rem(5); 
            
        }
    }
}
